form[class*="_schedule"] table {
	width:100%;
}
form[class*="_schedule"] input{
	width:10%;
}
.schedule {
	width:100%;
}
.schedule .day {
	width:14%;
	float:left;
	border-style:solid;
	border-width:1px;
}
.schedule .today {
	background-color:#E8EFE8;
}
.schedule .day .title {
	font-weight:bold;
}
.schedule .day .workday {
	font-style:italic;
	
}
.schedule .day .hour {
	border-top-style:solid;
	float:left;
	width:100%;
	border-width:1px;
	font-style:italic;
	font-size:x-small;
}
.schedule .day .hour em {
	float:left;
}
.schedule .day .hour .minute{
	height:1px;
}
.schedule .day .hour .half_hour{
	height:1px;
	width:100%;
	float:left;
	border-width:1px;
	border-bottom-style:dotted;
}
.schedule .day .not_working {
	background-color:#909090;
}