<h1>Users#show</h1>
<div id="patients">
	<ul>
	<%= render current_user.patients %>
	</ul>
	<%= link_to "Add patient", [:new, current_user, :patient] %>
</div>
<div id="shedule">
	<% if current_user.schedule %>
		<%= render current_user.schedule %>
	<% else %>
		<p>
			You haven't set your schedule yet, please do it  <%= link_to "here", [:new, current_user, :schedule] %>
		</p>
	<% end %>
</div>

